/*
COLOR PALLETE
#F5EFFF
#E5D9F2
#CDC1FF
#A294F9
*/

* {
    padding: 0px;
    margin: 0px
}

h2 {
    color: #A294F9;
    font-size: 2.5em;
}

header {
    background-color: #A294F9;
    color: #F5EFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 20px;
}

header nav ul {
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;

    width: 100%;
    max-width: 800px;
    border-radius: 20px;

    padding: 25px 50px;
    background-color: #E5D9F2;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 300px;
    border-radius: 100%;
}

.tech-sec {
    width: 100%;
    max-width: 900px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-template-rows: repeat(4, 1fr);

    background-color: #A294F9;
    padding: 30px;
}

.tech-card {
    min-height: 100px;
    background-color: #F5EFFF;
}

#python-card {
    grid-row: 1;
    grid-column: 1/3;

}

#javascript-card {
    grid-row: 1 / 3;
    grid-column: 3;
}

#csharp-card {
    grid-row: 2 / 4;
    grid-column: 1;
}

#java-card {
    grid-row: 2 / 4;
    grid-column: 2;
}

#random-card {
    grid-row: 3 / 5;
    grid-column: 3;
}

#random-card2 {
    grid-row: 4;
    grid-column: 1 / 3;
}

.vertical-tech-card {

}

.horizontal-tech-card {

}