/*
COLOR PALLETE
#F5EFFF
#E5D9F2
#CDC1FF
#A294F9
*/

h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  color: #333333;
}

p,
ul,
li,
a,
span,
div,
body {
  font-family: "Roboto Mono", monospace;
}

* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

h2 {
  color: #a294f9;
  font-size: 2.5em;
  margin: 20px 0px;
}

header {
  background-color: #a294f9;
  color: #f5efff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 25px 20px;
}

header nav ul {
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style: none;
}

header nav ul li a {
  color: #f5efff;
  text-decoration: none;
  font-size: 1.2em;
}

header nav ul li a:hover {
  text-decoration: solid underline;
  text-underline-offset: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;

  width: 100%;
  max-width: 800px;
  border-radius: 20px;

  padding: 25px 50px;
  background-color: #e5d9f2;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-text p {
  display: inline;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.banner-img img {
  min-width: 150px;
  width: 100%;
  border-radius: 100%;
}

.tech-sec {
  width: 100%;
  max-width: 900px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-template-rows: repeat(4, 1fr);

  padding: 30px;
}

.tech-card {
  min-height: 100px;
  background-color: #f5efff;
  border-radius: 15px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.tech-card h4 {
  color: #a294f9;
  font-size: 30px;
  text-align: center;
}

.tech-card p {
  text-align: center;
}

.tech-card img {
  width: 80%;
  max-width: 80px;
}

.tech-card h5 {
  color: #a294f9;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.tech-card ul {
  list-style: none;
  padding: 10px;
}
.tech-card ul li {
  text-align: center;
  margin-bottom: 5px;
}

.tech-card:hover h4 {
  color: #ffffff;
}
.tech-card:hover h5 {
  color: #ffffff;
}
.tech-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;

  color: #ffffff;
}

#python-card {
  grid-row: 1;
  grid-column: 1/3;
}
#python-card:hover {
  background: linear-gradient(135deg, #ffd341, #336c9a);
  transition: transform 0.3s;
}

#javascript-card {
  grid-row: 1 / 3;
  grid-column: 3;
}
#javascript-card:hover {
  background: linear-gradient(135deg, #f7df1e, #000000);
  transition: transform 0.3s;
}

#csharp-card {
  grid-row: 2 / 4;
  grid-column: 1;
}
#csharp-card:hover {
  background: linear-gradient(135deg, #68217a, #222);
  transition: transform 0.3s;
}

#java-card {
  grid-row: 2 / 4;
  grid-column: 2;
}
#java-card:hover {
  background: linear-gradient(135deg, #5382a1, #e76f00);
  transition: transform 0.3s;
}

#haskell-card {
  grid-row: 3 / 5;
  grid-column: 3;
}
#haskell-card:hover {
  background: linear-gradient(135deg, #5e5086, #000000);
  transition: transform 0.3s;
}

#sql-card {
  grid-row: 4;
  grid-column: 1 / 3;
}
#sql-card:hover {
  background: linear-gradient(135deg, #7bcbe7, #2472b8);
  transition: transform 0.3s;
}

.horizontal-tech-card {
  flex-direction: row;
  justify-content: space-evenly;
}
.horizontal-tech-card h5 {
  text-align: left;
}
.horizontal-tech-card ul li {
  text-align: left;
}

.fill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 25px;

  background-color: #a294f9;
  padding: 30px;
  border-radius: 15px;
  max-width: 200px;
}

.fill-card h4 {
  color: #f5efff;
  font-size: 1.5em;
}

.fill-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s;
}

.half-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

footer {
  background-color: #a294f9;
  color: #f5efff;
  padding: 15px 0px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 630px) {
  .half-container {
    flex-direction: column;
  }

  .half-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .banner {
    flex-direction: column;
    padding: 25px 20px;
    align-items: center;
    text-align: center;
  }

  .tech-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  #python-card {
    grid-row: 1;
    grid-column: 1;
  }
  #javascript-card {
    grid-row: 2;
    grid-column: 1;
  }
  #csharp-card {
    grid-row: 3;
    grid-column: 1;
  }
  #java-card {
    grid-row: 4;
    grid-column: 1;
  }
  #haskell-card {
    grid-row: 5;
    grid-column: 1;
  }
  #sql-card {
    grid-row: 6;
    grid-column: 1;
  }

  .horizontal-tech-card {
    flex-direction: column;
    justify-content: center;
  }

  .horizontal-tech-card h5 {
    text-align: center;
  }
  .horizontal-tech-card ul li {
    text-align: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}
